
<div class="container">
    <!-- <a href="#" class="previous">&#8249;</a> -->
        <img id="base" class="imgbase" src="" alt="">
        <img id="full" class="imgfull" src="" alt="full">
        <img id="cloud" class="imgcloud" src="" alt="cloud">
        <img id="high" class="imghigh" src="" alt="high">
        <img id="medium" class="imgmedium" src="" alt="medium">
        <img id="low" class="imglow" src="" alt="low">
    <!-- <a href="#" class="next">&#8250;</a>    -->
</div>


  